.header-container {
    background-color: #213448;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
}

body{
    background-color: #94B4C1;
    font-family: "Montserrat", sans-serif;
}

.container{
    padding: 20px;
    background-color: #A5BFCC;
    outline: 5px white;
    box-shadow: 0 4px 8px 0 rgba(126, 153, 163, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 900px;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px; 
}

.btn-center {
    margin-top: 20px;
}